@model TbCountry


<div class="content-wrapper">
    <div class="page-header">
        <h3 class="page-title"> Form elements </h3>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Forms</a></li>
                <li class="breadcrumb-item active" aria-current="page">Form elements</li>
            </ol>
        </nav>
    </div>
    <div class="row">
        <div class="col-md-8 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Default form</h4>
                    <p class="card-description"> Basic form layout </p>
                    <form class="forms-sample" method="post" enctype="multipart/form-data"
                          asp-controller="Country" asp-action="Save" role="form">
                        <input asp-for="Id" type="hidden" />
                        <div class="form-group">
                            <label for="exampleInputUsername1">CountryName</label>
                            <input asp-for="CounturyName" type="text" class="form-control" placeholder="Country Name">
                            <span asp-validation-for="CounturyName"></span>
                        </div>
                        <button type="submit" formmethod="post" class="btn btn-gradient-primary me-2">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
